
* {
  box-sizing: border-box;
}
h3 {
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 1.5vw;
}
h4{
  font-family: 'Allura';font-size: 42px;
  margin-top: 0;
}
h5 {
  font-size: 3vw;
  margin: 0px;
  margin-top: 10px;
}

h6 {
  margin-top: 0px;
  font-size: 0.9vw;
}
h7 {

  margin: 20px;
  font-size: 0.8vw;
}



p{
  margin-top: 70px;

}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0;
  background-image: url("staffy.jpeg");
   background-repeat: no-repeat;
   background-position: left bottom;
}
/*********************** BUTTON ***********************/

.button2 {
  background: #3498db;
  width: 350px;
  height: 75px;
  padding: 4px 0;
  cursor: pointer;
  color: white;
  margin-top: 200px;
  margin-left: 200px;
  box-shadow: 10px 10px 5px #aaaaaa;



  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;

  p {
      font-family: 'Roboto';
        text-align: center;
      text-transform: uppercase;
      color: #FFF;
      user-select: none;
    }

  &:hover {
    cursor: pointer;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: darken(#f1c40f, 20%);
    opacity: 0.4;
    bottom: -30px;
  }
}


/********************** HEADER **********************/


header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-image: url("halfhead.jpeg");
   background-repeat: no-repeat;
   background-position: center top;
}
.content {
  height: 175px;
  width: 60%;
   /* border: 10px solid rgb(166, 232, 224) ; */
   display: flex;
   margin-top: 350px;
   /*box-shadow: 3px 7px 12px 4px #999999; */
   /* background-color: white; */
}

.leftheader {
  width: 42%;
  font-weight: 700;
  font-size: 7.5vw;
  color: rgb(198, 74, 127);
  animation-duration: 10s;
  animation-delay: 2s;
}

.rightheader {
  width: 55%;
  display: flex;
  flex-flow: row wrap;
  color: black;

}






/*********************** SECTION ***********************/

section {
   width: 100%;
   margin-top: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Intro {
  margin-top: -160px;
  margin-left: 20px;
  height: 570px;
  width: 70%;
   /* border: 10px solid rgb(166, 232, 224) ; */
   display: flex;
   flex-flow: row wrap;

   /* background-color: white; */
}


.wolfnstray {
margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

.wnsimage{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wnsimage img {
  height: 400px;
  border-radius: 50%;
  margin: 60px;

}




/************************ BODY ************************/


.video {
  margin-left: 30px;
  margin-top: 230px;
}
.polaroidsection{
  margin-top: 100px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.polaroidbox{

  margin-top: 70px;
  margin-left: 50px;
  height: 500px;

}
div.polaroid {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

div.rotate_right {
  float: left;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
}

div.rotate_left {
  float: left;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
}
.imgboxes {
height: 600px;
  width: 80%;
   display: flex;
}

.images {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  filter: grayscale(100%);
     padding-top: 100px;
}

.images2 {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
     filter: blur(1px);
     -webkit-filter: contrast(4);
 filter: contrast(4);
}

.image2 {
  left: -50px;
}
.dogbits{
  width: 90%;
  display: flex;
  justify-content:center;

}
.pagetitle {
  font-weight: 600;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  border-bottom: solid 1px white;
  width: 90%;
}

.menu {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px white;
  position: relative;
}

.innermenu {
  width: 100%;
  max-width: 760px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(231, 239, 241);
  border: 1px solid white;
    border-radius: 15px;
      box-shadow: 10px 10px 5px #aaaaaa;
}

/* .button2 {
  margin-top: -300px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(231, 239, 241);
  border: 1px solid white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 200px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.button2:hover {
  background-color: rgb(231, 259, 291);
} */
.puplist {
  -webkit-appearance: button;
 -webkit-border-radius: 2px;
 -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
 -webkit-padding-end: 20px;
 -webkit-padding-start: 2px;
 -webkit-user-select: none;
   -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
 background-position: center right;
 background-repeat: no-repeat;
 border: 1px solid #AAA;
 color: #555;
 font-size: inherit;
 margin: 0;
 overflow: hidden;
 padding-top: 2px;
 padding-bottom: 2px;
 text-overflow: ellipsis;
 white-space: nowrap;
}



.:hover {
    background-color: rgb(231, 259, 291);
}

.floating_border {
  height: 4px;
  background-color: #30c2a3;
  position: absolute;
  bottom: 2px;
  left: 0;
}
.pagetitle {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  height: 50px;
}


@media screen and (max-width: 960px) {

  .content {
height: 300px;
  }
  h6 {
    font-size: 1.45vw;

  }
  h5 {
    font-size: 40px;
  }

  .Intro h3 {
    font-size: 3vw;
    text-shadow: 0px 0px 4px white;


  }
  .Intro {
    height: 1200px;
    width: 500px;

  }
  h7 {
    font-size: 15px;
    text-shadow: 0px 0px 4px white;
  }
  .wnsimage {
    width: 45vw;
  }

.polaroidsection {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.button2.more {
  margin-top: 1px;
}
.button2.more h3 {
  font-size: 22px;
}
}
@media screen and (max-width: 600px) {
 header {
   width: 100%;
 }
    .content {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
    }
    .leftheader {
      height: 90px;
    }
    .rightheader {
      width: 300px;

    }
p {
  margin-top: 1px;
  font-size: 90px;

}

    h6 {
      font-size: 2vw;

    }
    h5 {
      font-size: 33px;
    }

    .Intro h3 {
      font-size: 3vw;
      text-shadow: 0px 0px 4px white;


    }
    .Intro {
      height: 1200px;
      width: 90%;

    }
    h7 {
      font-size: 15px;
      text-shadow: 0px 0px 4px white;
    }
    .wolfnstray {
      display: flex;
      flex-direction: column;
      align-items: space-around;
    }
    .wnsimage {
      width: 45vw;
    }
  
  .polaroidsection {
    height: 800px;
    display: flex;
    flex-direction: column;


  }
/*   .button2.more {
    margin-top: -200px;
    margin-right: -400px;
  } */
  .button2.more h3 {
    font-size: 22px;
  }

  .video {display: none;}

  .dogbits {display: none;}

  section {
    background-image: none;
  }
}
