
* {
  box-sizing: border-box;
}


h3 {
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 20px;
}
h4{
  font-family: 'Allura';font-size: 32px;
  margin-top: 30px;
}
h5 {
  font-size: 3vw;
  margin: 0px;
  margin-top: 10px;
}


}
h7 {

  margin: 20px;
  font-size: 0.8vw;
}



h1{
  font-family: 'Allura';font-size: 62px;
  text-shadow: 1px 1px 22px #da674a;
  color: white;



}

h2{
  font-size: 15px;
  font-weight: 500;
}
body {
  font-family: 'Roboto';
background-color: #2b4d59;
  text-align: center;
  color: #da674a;
  background: radial-gradient(circle, rgba(73,105,116,1) 0%, rgba(33,37,38,1) 75%, rgba(218,103,74,1) 100%);
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
flex-flow: column nowrap;
background: rgb(73,105,116);
background: radial-gradient(circle, rgba(73,105,116,1) 0%, rgba(33,37,38,1) 75%, rgba(42,66,64,0.7707457983193278) 100%);
}
.content {
  border-bottom: groove 7px rgba(149, 24, 27, 0.54);

}
/*********************** BUTTON ***********************/

.button2 {
  background: #39998e;
  width: 250px;
  height: 75px;
  padding: 4px 0;
  cursor: pointer;
  color: white;
  box-shadow: 10px 10px 40px rgb(37, 53, 59);
  border-radius: 3px;

  p {
      font-family: 'Roboto';
        text-align: center;
      text-transform: uppercase;
      color: #FFF;
      user-select: none;
    }

  &:hover {
    cursor: pointer;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: darken(#f1c40f, 20%);
    opacity: 0.4;
    bottom: -30px;
  }
}


/********************** HEADER **********************/


header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

}
.content {
  height: auto;
  width: 100%;
   /* border: 10px solid rgb(166, 232, 224) ; */
   display: flex;
   flex-direction: column;
   margin-top: 50px;
   justify-content: center;
   align-items: center;
   /*box-shadow: 3px 7px 12px 4px #999999; */
   /* background-color: white; */
}

.leftheader {
  width: auto;
  font-weight: 500;
  color: white;
  animation-duration: 3s;
  animation-delay: 2s;

}

.rightheader {
  width: 80%;
  text-align: center;

}






/*********************** SECTION ***********************/

section {
   width: 90%;
   margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Intro {
  height: auto;
  width: 80%;
   /* border: 10px solid rgb(166, 232, 224) ; */
   display: flex;
   flex-direction: column;
   color: rgb(207, 194, 203);


   /* background-color: white; */
}


.wolfnstray {
margin-top: 70px;
  display: flex;
}

.wnsimage{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

}

.wnsimage img {
  max-height: 400px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 50px 10px rgba(255,170,103,1);
  -moz-box-shadow: 0px 0px 50px 10px rgba(255,170,103,1);
  box-shadow: 0px 0px 50px 10px rgba(255,170,103,1);

}

.wnsimage h4 {
    text-shadow: 1px 1px 22px black;
}




/************************ BODY ************************/



.polaroidsection{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 600px;
}
.polaroidbox{

  margin-top: 70px;
  height: auto;

}
div.polaroid {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 40px rgb(37, 53, 59);
}

div.rotate_right {
  float: left;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
}

div.rotate_left {
  float: left;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
}
.imgboxes {
height: 600px;
  width: 80%;
   display: flex;
}

.images {
  width: 100%;
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
     padding-top: 50px;
}


.dogbits{
  width: 90%;
  display: flex;
  justify-content:center;

}
.pagetitle {
  font-weight: 600;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  border-bottom: solid 1px white;
  width: 90%;
}

.menu {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px white;
  position: relative;
}

.innermenu {
  width: 100%;
  max-width: 760px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(231, 239, 241);
  border: 1px solid white;
    border-radius: 15px;
      box-shadow: 1px 1px 20px rgb(38, 12, 15);
}



.puplist {
  -webkit-appearance: button;
 -webkit-border-radius: 2px;
 -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
 -webkit-padding-end: 20px;
 -webkit-padding-start: 2px;
 -webkit-user-select: none;
   -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
 background-position: center right;
 background-repeat: no-repeat;
 border: 1px solid #AAA;
 color: #555;
 font-size: inherit;
 margin: 0;
 overflow: hidden;
 padding-top: 2px;
 padding-bottom: 2px;
 text-overflow: ellipsis;
 white-space: nowrap;
}



.:hover {
    background-color: rgb(231, 259, 291);
}

.floating_border {
  height: 4px;
  background-color: #30c2a3;
  position: absolute;
  bottom: 2px;
  left: 0;
}
.pagetitle {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  height: 50px;
}


@media screen and (max-width: 960px) {

  .content {
height: 300px;
  }

  .Intro {
    height: auto;
    width: 90%;

  }

.polaroidsection {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.button2.more {
  margin-top: 1px;
}
.button2.more h3 {
  font-size: 22px;
}
}
@media screen and (max-width: 600px) {

    .content {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
    }

    .rightheader {
      width: 90%;

    }


    .wolfnstray {
display: none;
    }


  .polaroidsection {
  display: none;
  }

  .button2 {
  display: none;
  }

section {
  display: none;
}

.pagetitle {
  display:none;
}
